.nav-bar {
  display: flex;
  align-items: center;
  padding: 3px 50px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.nav-title {
  font-weight: 600;
}
.nav-ul-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
}
.nav-li-item {
  margin: 0 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  font-size: 24px;
}
.no-of-items {
  align-self: start;
  margin: 0 1px;
}

@media screen and (max-width: 600px) {
  .product-nav {
    display: none;
  }
  .nav-bar {
    padding: 0 20px;
  }
}
